@import '../../assets/sass/main.scss';

.wrapperLeft {
  width: 100%;
  padding: 15px;
  background-color: var(--scrollbar-bg-cl);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
  margin-bottom: 15px;
  @include vp(tablet) {
    width: 40%;
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.partWrapper {
  display: flex;
  flex-direction: column;
}
.partWrapper:not(:last-child) {
  margin-bottom: 15px;
}
