@import '../../assets/sass/main.scss';

.wrapperLeft {
  width: 100%;
  background-color: transparent;

  margin-bottom: 15px;
  @include vp(tablet) {
    width: 40%;
    margin-bottom: 0;
    margin-right: 30px;
  }
  @include vp(desktop) {
    width: 50%;
  }
}
.partWrapper {
  background-color: var(--main-bg-cl);
  box-shadow: 4px 4px 8px rgba(36, 42, 55, 0.15);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  @include vp(desktop) {
    padding: 30px;
  }
}
.partWrapper:not(:last-child) {
  margin-bottom: 15px;
}
