@import '../../assets/sass/main.scss';

.itemCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.itemCard:not(:last-child) {
  margin-bottom: 8px;
}

.cardWrapper {
  background-image: url(/assets/img/uniornew.jpg),
    radial-gradient(circle at 100% 0px, rgb(162, 213, 251), rgb(91, 79, 154));
  background-size: contain;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-shadow: 0 1px 3px rgb(255 255 255 / 54%);
  width: 205px;
  cursor: pointer;
  transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: box-shadow, transform;
  user-select: none;
  margin-right: 20px;
  @include vp(tablet) {
    width: 280px;
    height: 176px;
    margin-right: 10px;
  }
  @include vp(desktop) {
    width: 300px;
  }
}
.cardWrapper:hover,
.cardWrapper:focus {
  transform: scaleX(1.05);
}
.cardContent {
  transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: transform;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  width: 175px;
  color: var(--main-bg-cl);
  @include font(500, 12px, 1.5);
  @include vp(tablet) {
    @include font(500, 16px, 1.5);
    width: 250px;
  }
  @include vp(desktop) {
    @include font(500, 18px, 1.5);
    width: 270px;
  }
}
// .cardContent:hover,
// .cardContent:focus {
//   transform: scaleX(0.95);
// }
.lineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lineWrapper:not(:last-child) {
  margin-bottom: 5px;
}
.cardNameBanc {
  max-width: 50%;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardAmount {
  max-width: 50%;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardType {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardNumber {
  max-width: 70%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border: none;
  color: inherit;
}
.cardBtnCopy {
  background-color: transparent;
  border: none;
  color: var(--btn-del-cl);
}
.cardDate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bottomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cardLogoMC {
  background: no-repeat right;
  background-size: contain;
  width: 48px;
  height: 24px;
  background-image: url(/assets/svg/d1ba8d76145bf4c7bf2d.svg);
}
.cardLogoVisa {
  background: no-repeat right;
  background-size: contain;
  width: 48px;
  height: 24px;
  background-image: url(/assets/svg/visa-card-vector-logo.png);
}
.cardLogoText {
  max-width: 30%;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}

.one {
  border-radius: 10px;
  cursor: pointer;
  transition: 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: box-shadow, transform;
  background: var(--background);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 16px;
  color: var(--black);
  user-select: none;
  text-shadow: 0 1px 3px rgb(255 255 255 / 54%);
  width: 280px;
  height: 176px;
}
