@import '../../assets/sass/main.scss';
.modal {
  max-height: calc(100vh - 40px);
  background-color: var(--auth-bg-cl);
  box-shadow: 10px 10px 20px rgba(9, 30, 63, 0.2);
  border-radius: 10px;
  @include vp(mobile) {
    width: calc(100vw - 45px);
  }
  @include vp(tablet) {
    width: 40vw;
  }
  @include vp(desktop) {
    width: 30vw;
  }
}
